<!DOCTYPE html>
<html>

<head>
  <title>Tender Tracker</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="map">
  </div>

  <aside>
    <nav class="navbar navbar-inverse sidebar navbar-fixed-top" role="navigation">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

      <div class="nav-side-menu">
        <div class="brand">Tender Traffic</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

          <ul id="menu-content" class="menu-content collapse out">


            <li data-toggle="collapse" data-target="#service" class="collapsed">
              <a href="#">
                <i class="fa fa-user fa-lg"></i> Profile
                <span class="arrow"></span>
              </a>
            </li>
            <ul class="sub-menu collapse" id="service">
              <ul class="right">
                <% if (user) { %>
                  <li>
                    <a href="/logout">
                      <i class="material-icons left"></i>Logout</a>
                  </li>
                  <% } else { %>
                    <li>
                      <a href="/auth/google">
                        <i class="material-icons left"></i>Login with Google</a>
                    </li>
                    <% } %>
              </ul>
            </ul>
            <li>
              <a href="#">
                <i class="fa fa-search fa-lg"></i> Search
              </a>
            </li>

            <li data-toggle="collapse" data-target="#new" class="collapsed">
              <a href="#">
                <i class="fa fa-heart fa-lg"></i> Favorites
                <span class="arrow"></span>
              </a>
            </li>
            <ul class="sub-menu collapse" id="new">
              <li>New New 1</li>
              <li>New New 2</li>
              <li>New New 3</li>
            </ul>
          </ul>
        </div>

        <!-- <div id="wrapper">
            <div id="sidebar-wrapper">
              <div id="sidebar-btn">
                <span class="lines"></span>
                <span class="lines"></span>
                <span class="lines"></span>
              </div>
              <ul class="sidebar-nav">
                <li class = "dropdown">
                  <a href = "#" class = "dropdown-toggle" data-togggle = "dropdown">User</a>
                  <ul class = "dropdown-menu">
                    <li>name</li>
                    <li>email</li>
                    <li>Profile</li>
                    
                  </ul>
            </li>
            <li><a href="#">SEARCH</a></li>
            <li><a href="#">FAVORITES</a></li>
         </ul>
      </div>
      
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div id="column" class="col-lg-12">
                <div id="map">
                    <div class="container-fluid">
                    </div>
                  </div>
            
            </div>
          </div>
        </div>

      </div> -->






        <script>
          var contentString = 'asd';
          function initMap() {
            let map = new google.maps.Map(document.getElementById('map'), {
              minZoom: 1.9,
              zoom: 2.2,
              center: { lat: 41.80688582467279, lng: -14.134247600356844 },
              styles: [
                {
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#1d2c4d"
                    }
                  ]
                },
                {
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#8ec3b9"
                    }
                  ]
                },
                {
                  "elementType": "labels.text.stroke",
                  "stylers": [
                    {
                      "color": "#0f330c"
                    }
                  ]
                },
                {
                  "featureType": "administrative",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "administrative.country",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#4b6878"
                    }
                  ]
                },
                {
                  "featureType": "administrative.land_parcel",
                  "elementType": "labels.text",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "administrative.land_parcel",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#64779e"
                    },
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "administrative.locality",
                  "elementType": "labels",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "administrative.neighborhood",
                  "elementType": "labels.text",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "administrative.province",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#4b6878"
                    }
                  ]
                },
                {
                  "featureType": "administrative.province",
                  "elementType": "labels",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "landscape.man_made",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#334e87"
                    }
                  ]
                },
                {
                  "featureType": "landscape.man_made",
                  "elementType": "labels.text",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "landscape.natural",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#023e58"
                    }
                  ]
                },
                {
                  "featureType": "landscape.natural",
                  "elementType": "labels.text",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "poi",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "poi",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#283d6a"
                    }
                  ]
                },
                {
                  "featureType": "poi",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#6f9ba5"
                    }
                  ]
                },
                {
                  "featureType": "poi",
                  "elementType": "labels.text.stroke",
                  "stylers": [
                    {
                      "color": "#1d2c4d"
                    }
                  ]
                },
                {
                  "featureType": "poi.park",
                  "elementType": "geometry.fill",
                  "stylers": [
                    {
                      "color": "#023e58"
                    }
                  ]
                },
                {
                  "featureType": "poi.park",
                  "elementType": "labels",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "poi.park",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#3C7680"
                    }
                  ]
                },
                {
                  "featureType": "road",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "road",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#304a7d"
                    }
                  ]
                },
                {
                  "featureType": "road",
                  "elementType": "labels.icon",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "road",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#98a5be"
                    }
                  ]
                },
                {
                  "featureType": "road",
                  "elementType": "labels.text.stroke",
                  "stylers": [
                    {
                      "color": "#1d2c4d"
                    }
                  ]
                },
                {
                  "featureType": "road.highway",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#2c6675"
                    }
                  ]
                },
                {
                  "featureType": "road.highway",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#255763"
                    }
                  ]
                },
                {
                  "featureType": "road.highway",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#b0d5ce"
                    }
                  ]
                },
                {
                  "featureType": "road.highway",
                  "elementType": "labels.text.stroke",
                  "stylers": [
                    {
                      "color": "#023e58"
                    }
                  ]
                },
                {
                  "featureType": "transit",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "transit",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#98a5be"
                    }
                  ]
                },
                {
                  "featureType": "transit",
                  "elementType": "labels.text.stroke",
                  "stylers": [
                    {
                      "color": "#1d2c4d"
                    }
                  ]
                },
                {
                  "featureType": "transit.line",
                  "elementType": "geometry.fill",
                  "stylers": [
                    {
                      "color": "#283d6a"
                    }
                  ]
                },
                {
                  "featureType": "transit.station",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#3a4762"
                    }
                  ]
                },
                {
                  "featureType": "water",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#0e1626"
                    }
                  ]
                },
                {
                  "featureType": "water",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#2594f3"
                    }
                  ]
                }
              ]

            });






            // let contentString = '<div id="content">'+
            //   '<div id="siteNotice">'+
            //   '</div>'+
            //   '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            //   '<div id="bodyContent">'+
            //   '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            //   'sandstone rock formation in the southern part of the '+
            //   'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
            //   'south west of the nearest large town, Alice Springs; 450&#160;km '+
            //   '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
            //   'features of the Uluru - Kata Tjuta National Park. Uluru is '+
            //   'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            //   'Aboriginal people of the area. It has many springs, waterholes, '+
            //   'rock caves and ancient paintings. Uluru is listed as a World '+
            //   'Heritage Site.</p>'+
            //   '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            //   'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
            //   '(last visited June 22, 2009).</p>'+
            //   '</div>'+
            //   '</div>';



            const rootURL = 'http://ws.geonames.org/countryCodeJSON?';

            function getCC(lat, lng) {
              return fetch(`${rootURL}lat=${lat}&lng=${lng}&username=<%= process.env.GEO_USENAME %>`)
                .then(cCode => cCode.json())
                .then(cCode => cCode.countryCode)
                .then(function (cCode) {
                  return fetch('/sites/topTen', {
                    method: 'post',
                    body: JSON.stringify({
                      countryCode: cCode
                    }),
                    headers: {
                      'content-type': 'application/json'
                    }
                  })
                    .then(countryData => countryData.json())
                    .then(function (countryData) {
                      console.dir(countryData);
                      contentString =
                        '<table class="table table-dark table-hover mb-0 ">' +
                        '<thead class="thead-light">' +
                        '<tr>' +
                        '<th scope="col"> # </th>' +
                        '<th scope="col">Name</th>' +
                        '<th scope="col">Rank</th>' +
                        '<th scope="col">Profile Page</th>' +
                        '</tr>' +
                        '</thead>' +
                        '</table>' +
                        '<div id="content">' +
                        '<div id="siteNotice">' +
                        '</div>' +
                        `<h3 id="firstHeading" class="firstHeading">${countryData.topSites.country.countryName}</h3>` +
                        '<div id="bodyContent">' +
                        '<ul>' +

                        `<li><a href="http://www.${countryData.topSites.country.sites.site[0].dataUrl}"target="_blank">${countryData.topSites.country.sites.site[0].dataUrl}</a></li>` +

                        '</ul>';
                    })
                })
            }

            google.maps.event.addListener(map, 'click', function (event) {

              marker = new google.maps.Marker({
                position: event.latLng,
                map: map,
                animation: google.maps.Animation.DROP
              });

              marker.addListener('click', toggleBounce);

              function toggleBounce() {
                if (marker.getAnimation() !== null) {
                  marker.setAnimation(null);
                } else {
                  marker.setAnimation(google.maps.Animation.BOUNCE);
                }
              }

              let lat = event.latLng.lat();
              let lng = event.latLng.lng();

              getCC(lat, lng).then(function () {
                console.log(contentString);
                let infowindow = new google.maps.InfoWindow({
                  content: contentString
                });
                infowindow.open(map, marker);
              });

              // console.log(event.latLng.lat())
              // console.log(event.latLng.lng())
            });
          }

        </script>
        <!-- </div>
    <script>
      $('#sidebar-btn').click( function (e){
        e.preventDefault();
        $('#wrapper').toggleClass("menuDisplayed");
        $('#sidebar-btn').toggleClass("lines-margin")
        
      });
    </script> -->
        <div class="main">
        </div>
      </div>
    </nav>

  </aside>

</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAP_KEY %>&callback=initMap"></script>

</html>