<!DOCTYPE html>
<html>
   <head>
      <title>Tender Tracker</title>
      <meta name="viewport" content="initial-scale=1.0">
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
      <script defer src="/javascripts/app.js"></script>
      <script src="/javascripts/mapSettings.js"></script>
   </head>
   <body>
      <div id="map">
      </div>
      <div class="navbar float-right ">
         <a tabindex="0" class="btn btn-secondary" role="button" data-toggle="popover" data-trigger="focus" style="background-color:#2e353d"
            title="Tender Tracker" data-content="Welcome to Tender Tracker!  This site allows you to click any country and see its most popular websites.  These sites are ranked by their local popularity.  You can also see how many views per million each site receives. Please log in to begin clicking around.">
         <i class="fa fa-info-circle fa-2x" style="color:#e1ffff"></i>
         </a>
      </div>
      <aside>
         <nav class="navbar navbar-inverse sidebar navbar-fixed-top" role="navigation">
            <div class="nav-side-menu">
               <div class="brand">Tender Tracker</div>
               <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
               <div class="menu-list">
                  <ul id="menu-content" class="menu-content collapse out">
                     <li data-toggle="collapse" data-target="#service" class="collapsed">
                        <a href="#">
                        <% if (user) { %>
                          <i class="fa fa-user fa-lg"></i> Logout
                          <span class="arrow"></span>
                        <%} else { %>
                          <i class="fa fa-user fa-lg"></i> Login
                          <span class="arrow"></span>
                        <% } %>
                        </a>
                     </li>
                     <ul class="sub-menu collapse" id="service">
                        <ul class="right">
                           <% if (user) { %>
                           <li>
                              <a href="/logout">
                              <i class="material-icons left"></i>Logout</a>
                           </li>
                           <% } else { %>
                           <li>
                              <a href="/auth/google">
                              <i class="material-icons left"></i>Login with Google</a>
                           </li>
                           <% } %>
                        </ul>
                     </ul>
                     <% if (user) { %>
                     <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a href="#">
                        <i class="fa fa-heart fa-lg"></i> Favorites
                        <span class="arrow"></span>
                        </a>
                     </li>
                     <ul class="sub-menu collapse" id="new">
                        <% user.favorites.forEach(function(favorite){ %>
                        <li>
                           <%= favorite.name %>
                        </li>
                        <% }) %>
                     </ul>
                     <% } %>
                  </ul>
                  <li data-toggle="collapse" data-target="#team" class="collapsed">
                     <a href="#">
                     <i class="fa fa-users"></i> Team Tender Love
                     <span class="arrow"></span>
                     </a>
                  </li>
                  <ul class="sub-menu collapse" id="team">
                     <li>
                        <a href="https://github.com/lorenzoash" class="team">Lorenzo A.</a>
                     </li>
                     <li>
                        <a href="https://github.com/lyzengar" class="team">Andrew L.</a>
                     </li>
                     <li>
                        <a href="https://github.com/MiclAvdo" class="team">Mike A.</a>
                     </li>
                     <li>
                        <a href="https://github.com/Balance8" class="team">Mike S.</a>
                     </li>
                  </ul>
                  </a>
                  </li>
               </div>
            </div>
            <script>
               <% if (user) { %>
                 const state = {
               
                 }
               
               <% } %>
               
               
               <% if (favorites.length > 0) { %>
               
               window.userFavorites = <%- favorites %>;
               <% } else {%>
               window.userFavorites =[];
               <% } %>
                 var infoWindows = {};
                 function initMap() {
              
                   let map = new google.maps.Map(document.getElementById('map'), {
                     gestureHandling: 'greedy',
                     mapTypeControl: false,
                     zoomControl: false,
                     streetViewControl: false,
                     fullscreenControl: false,
                     scrollwheel: true,
                     minZoom: 1.9,
                     zoom: 2.2,
                     center: { lat: 31.55143337748626, lng: -12.39556775341805 },
                     styles: window.mapSettings
               
                   });
               
                   google.maps.event.addListener(map, 'drag', function () {
               
                     var proj = map.getProjection();
                     var bounds = map.getBounds();
                     var sLat = map.getBounds().getSouthWest().lat();
                     var nLat = map.getBounds().getNorthEast().lat();
                     if (sLat < -85 || nLat > 85) {
                       map.setOptions({
                         center: new google.maps.LatLng(
                           31.55143337748626,
                           -12.39556775341805)
                       });
                     }
                   });
               
               
                 <% if (user) { %>
               
               
               
                     google.maps.event.addListener(map, 'click', function (event) {
               
               
                       var marker = new google.maps.Marker({
                         position: event.latLng,
                         map: map,
                         animation: google.maps.Animation.DROP,
                       });
               
                       let lat = event.latLng.lat();
                       let lng = event.latLng.lng();
               
                       getCC(lat, lng).then(function (contentString) {
                         // window.cc = cc;
                         // if (userFavorites.includes(cc)) {
                         //   console.log(cc)
                         //   $(`.${cc}`).addClass('text-danger')
                         // }
                         // else {
                         //   $(`.${cc}`).removeClass('text-danger')
                         // }
                         let infowindow = new google.maps.InfoWindow({
                           content: contentString,
                           marker: marker,
                         });
                         // infoWindows[cc] = { infowindow, marker }
               
                         // marker.cc = cc;
               
               
                         infowindow.open(map, marker);
                         google.maps.event.addListener(marker, 'click', function () {
                           infoWindows[marker.cc].infowindow.open(map, infoWindows[marker.cc].marker);
                         });
                       });
                     });
                       
                     <% } %>
               
                   }
               
            </script>
            <div class="main">
            </div>
            </div>
         </nav>
      </aside>
   </body>
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAP_KEY %>&callback=initMap"></script>
</html>