#map {
  height: 100%;
  margin-left: 100px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#sidebar {
  background: linear-gradient(aqua, aquamarine, rgb(66, 110, 96));
  width: 120px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px

}

#sidebar.visible{
  left:0px;
}

ul {
  padding: 0;
  margin: 0;
}
 ul li {
   list-style: none;
 }

